<h1>PRODUCTS PRODUCTS PRODUCTS</h1>
<h2><a href="/client/products/new">We wantses something new precious</a></h2>

<% @products.each do |product| %>
  <h2><a href="/client/products/<%= product["id"] %> "><%= product["name"] %></a></h2>
  <p><%= product["price"] %></p>
  <p><%= product["description"] %></p>
  <img src="<%=product["image_url"]%>" alt="<%= product["name"]%>" width="300">
<% end %>